html,
      body {
        margin: 0;
        padding: 0;
      }
      canvas {
        position: absolute;
        opacity: 1; /* for mobile */
      }

      div#container {
        height: 100vh;
        position: relative;
        overflow: hidden;
      }

      div#controlsContainer {
        position: absolute;
        display: flex;
        z-index: 1;
        overflow: hidden;
      }

      div.controlPanel {
        display: flex;
        flex-direction: column;
      }

      div.controlItem {
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 10px 15px;
      }

      div.replay, div.cog, div.save {
        opacity: 0.2;
      }
      div.replay:hover, div.cog:hover, div.save:hover {
        opacity: 1
      }

      div.canvasControl.possession:hover {
        animation: flash; 
        animation-duration: 2000ms
      }

      .canvasControl {
        opacity: 0;
        transform: translate(150%, calc(50vh - 50%));
        position: absolute;
      }

      .possession {
        z-index: -1;
        animation: flash linear 1000ms
      }

      input {
        margin: auto 10px;
      }

      @keyframes flash {
        0% {
          opacity: 0.1;
        } 
        20% {
          opacity: 0.8;
        }
        100% {
          opacity: 0;
        }
      }